<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Learning Node.js</h1>
    <p>This is a Node application deployed to Heroku. It's a collection of assignments created for CS 313 by Dixie Cravens.</p>
    <a type="button" class="btn btn-lg btn-default" href="form.html"><span class="glyphicon glyphicon-scale"></span> Week 09 Postal Rates Assignment</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Cravens-Dixie/cs313Node.js"><span class="glyphicon glyphicon-eye-open"></span> Repository on GitHub</a>
  </div>
</div>

</body>
</html>
