<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <title>Custom Postage Rate</title>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <h2>The postage rate for your <%= mailType %>  
        that weighs <%= weight %> ounces
        is <%= price %>
    </h2>
    
</body>
</html>