<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Postage Rate</title>
</head>
<body>
    <h2>The postage rate for your <%= mailType %>  
        that weighs <%= weight %> ounces
        is <%= price %>
    </h2>
    
</body>
</html>